<%- include("partials/header-logged-in") -%> <% if (message) { %>
<h4><%= message %></h4>
<% } %> <% if (!message) { %>
<h4 class="padding">Fill out your request</h4>
<div class="box">
  <form class="form-inline" method="post">
    <div class="form-group">
      <label for="service">Service Type</label>
      <input
        type="text"
        class="form-control col-3"
        name="service"
        id="service"
        placeholder="Service"
      />
      <!-- <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
        <option value="Phone Answering Service">Phone Answering Service</option>
        <option value="Call Center Services">Call Center Services</option>
        <option value="Virtual Receptionist Services">
          Virtual Receptionist Services
        </option>
        <option value="Alarm Monitoring Services">
          Alarm Monitoring Services
        </option>
      </select> -->
      <!--  -->
      <!-- 
    </div> -->
    <div class="form-group" style="margin: 0.75rem;">
      <label for="subservice">Sub Service Type</label>
      <input
        type="text"
        class="form-control"
        name="subservice"
        id="subservice"
        placeholder="Sub Service"
      />
    </div>
    <div class="form-group">
      <label for="subservice">Request Description</label>
      <textarea
        name="reqdesc"
        id="reqdesc"
        cols="30"
        rows="5"
        placeholder="Your Request"
      ></textarea>
    </div>
    <button type="submit" class="btn btn-dark">Submit</button>
    <% } %>
  </form>
</div>
<%- include("partials/footer") -%>
