<%- include("partials/header") -%>
<h4 class="padding">Fill out your request</h4>
<% if (message) { %>
<h2><%= message %></h2>
<% } %> <% if (!message) { %>
<div class="box">
  <form class="form-inline" method="post">
    <div class="form-group">
      <label for="name">Full Name</label>
      <input
        type="text"
        class="form-control"
        name="name"
        id="name"
        placeholder="Full Name"
      />
    </div>
    <div class="form-group">
      <label for="email">Email address</label>
      <input
        type="email"
        class="form-control"
        name="email"
        id="email"
        placeholder="name@example.com"
      />
    </div>
    <div class="form-group">
      <label for="phno">Phone Number</label>
      <input
        type="tel"
        class="form-control"
        name="phno"
        id="phno"
        placeholder="Phone Number"
      />
    </div>
    <div class="form-group">
      <label for="company">Company</label>
      <input
        type="text"
        class="form-control"
        name="company"
        id="company"
        placeholder="Company"
      />
    </div>
    <div class="form-group">
      <label for="service">Service</label>
      <input
        type="text"
        class="form-control"
        name="service"
        id="service"
        placeholder="Service"
      />
    </div>
    <div class="form-group">
      <label for="subservice">Sub Service</label>
      <input
        type="text"
        class="form-control"
        name="subservice"
        id="subservice"
        placeholder="Sub Service"
      />
    </div>
    <div class="form-group">
      <label for="subservice">Request Description</label>
      <textarea name="reqdesc" id="reqdesc" cols="30" rows="5">
Your request</textarea
      >
    </div>
    <button type="submit" class="btn btn-dark">Submit</button>
    <% } %>
    <div class="text-box"><%= message %></div>
  </form>
</div>
<%- include("partials/footer") -%>
