<%- include("partials/header-logged-in") -%> <% if (message) { %>
<div
  style="background-color: #0051a3; width: 30rem; margin: 5rem; color: white; padding: 30px; border-radius: 3px; opacity: 50%;">
  <h4><%= message %></h4>
</div>


<% } %> <% if (!message) { %>
<h4 class="padding">Fill out your request</h4>
<div class="box">
  <form class="form-inline" method="post">
    <div class="form-group">
      <label for="service">Service Type</label>
      <input type="text" class="form-control col-3" name="service" id="service" placeholder="Service" />
      <div class="form-group" style="margin: 0.75rem;">
        <label for="subservice">Sub Service Type</label>
        <input type="text" class="form-control" name="subservice" id="subservice" placeholder="Sub Service" />
      </div>
      <div class="form-group">
        <label for="subservice">Request Description</label>
        <textarea class="form-control" name="reqdesc" id="reqdesc" cols="30" rows="5" placeholder="Your Request"></textarea>
      </div><p>
      <button type="submit" class="btn btn-dark">Submit</button></p>
      <% } %>
  </form>
</div>
<%- include("partials/footer") -%>