<%- include("partials/header") -%>

<div class="jumbotron" style="margin: 5rem">
  <h1 class="blue-text">Team Rocket</h1>
  <p class="lead dark-text">Industry Problem</p>
  <hr class="my-4" />
  <p class="lead">
    <a class="btn btn-dark" href="/login" role="button">Log In</a>
  </p>
</div>

<%- include("partials/footer") -%>
