<%- include("partials/header") -%> <% if (message) { %>
<div class="box">
  <form action="/login" method="POST">
    <h3 class="padding">Please Log In</h3>
    <div class="form-group">
      <label for="emailID">Email ID</label>
      <input
        type="emailID"
        class="form-control"
        name="emailID"
        placeholder="abc@xyz.com"
      />
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input
        type="password"
        class="form-control"
        name="password"
        placeholder="Password"
      />
    </div>
    <p style="color: red; margin: 20px"><%= message %></p>
    <button type="submit" class="btn btn-dark">Login</button>
  </form>
</div>
<% } %> <% if (!message) { %>
<div class="box">
  <form action="/login" method="POST">
    <h4 class="padding">Please Log In</h4>
    <div class="form-group">
      <label for="emailID">Email ID</label>
      <input
        type="emailID"
        class="form-control"
        name="emailID"
        placeholder="abc@xyz.com"
      />
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input
        type="password"
        class="form-control"
        name="password"
        placeholder="Password"
      />
    </div>
    <button type="submit" class="btn btn-dark">Login</button>
  </form>
</div>
<% } %> <%- include("partials/footer") -%>
