<%- include("partials/header") -%>
<div class="box">
  <p>
    <% for (const i in services) { %>
    <a
      class="btn btn-dark"
      data-toggle="collapse"
      href="#phone-answering-service"
      role="button"
      aria-expanded="false"
      aria-controls="phone-answering-service"
    >
      <%= services[i].service %>
    </a>
    <% } %>
  </p>
  <div class="collapse padding" id="phone-answering-service">
    <a
      href="/supervisor/phone-answering-service/24-Hour-Answering-Service"
      class="card card-body"
    >
      24 Hour Answering Service
    </a>
  </div>
</div>
<%- include("partials/footer") -%>
