body {
    font-family: "Inter", sans-serif;
    font-weight: 800;
    background-color: #ffffff;
    color: #000000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Inter", sans-serif;
    font-weight: 900;
}

nav {
    background: rgb(28 41 55 / 90%);
}

p {
    font-weight: 500;
}

button,
.btn {
    background: rgb(255 85 26);
    color: aliceblue;
    font-weight: 700 !important;
    border: none;
}

.btn-red {
    background: red;
}

ul {
    font-size: 1rem;
    font-weight: 700;
}

tr {
    font-weight: 500;
}

td>a {
    color: rgb(43, 42, 42);
    text-decoration: underline;
}

/* td>a:hover {} */

table th,
td {
    width: auto !important;
}

.font-bold {
    font-weight: 600;
}

.blue-text {
    color: #0051a3;
}

.dark-text {
    color: #17252a;
}

.red-link {
    color: red;
}

a.red-link:hover {
    color: crimson;
}

.form-group {
    padding: 1.5rem;
}

.padding {
    padding: 0.5rem;
    padding-bottom: 0;
}

.box {
    background-color: rgb(224, 224, 224);
    border-radius: 5px;
    box-shadow: 1px 1px #888888;
    margin: 2rem;
    /* max-width: max-content; */
}

.nav-item {
    color: rgb(255, 255, 255);
}

.nav-item:hover {
    color: rgb(0, 0, 0);
}

.text-box {
    background-color: rgb(224, 224, 224);
    border-radius: 5px;
    box-shadow: 1px 1px #888888;
    margin: 2rem;
    width: max-content;
}

.card {
    padding-bottom: 20px;
    /* max-width: max-content; */
    background: #eaebec;
    margin: 5rem;
    color: #17252a;
    width: 50%;
    flex-flow: column wrap;
    justify-content: center;
    /* margin-left: -3rem;   */
}

.table-bordered td,
.table-bordered th,
.table td,
.table th {
    padding: 0.3rem;
}